<div class="page-sidebar-inner slimscroll">
	<div class="sidebar-header">
		<div class="sidebar-profile">
			<a href="javascript:void(0);" id="profile-menu-link">
				<div class="sidebar-profile-image" >
					<img src="assets/images/avatar1.png" class="img-circle img-responsive" style="width: 95px;" alt="">
				</div>
			</a>
		</div>
	</div>
	<ul class="menu accordion-menu">
		<li class="active">
			<a href="/#!/" class="waves-effect waves-button">
				<span class="menu-icon glyphicon glyphicon-home"></span>
				<p>Dashboard</p>
			</a>
		</li>

		<li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-user"></span><p>Alumnos</p><span class="arrow"></span></a>
			<ul class="sub-menu">
				<li><a href="/#!/alumnos/create">Nuevo Alumno</a></li>
				<li><a href="/#!/alumnos">Listado de Alumnos</a></li>
			</ul>
		</li>

		<li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-user"></span><p>Profesores</p><span class="arrow"></span></a>
			<ul class="sub-menu">
				<li><a href="/#!/profesores/create">Añadir</a></li>
				<li><a href="/#!/profesores">Listado de Profesores</a></li>
			</ul>
		</li>
	</ul>

</div>

<!-- Page Sidebar -->

