<section data-ng-controller="CursosController" data-ng-init="toViewCurso()">
	<div class="page-header">
		<h1 data-ng-bind="curso.name"></h1>
	</div>

	<div class="col-md-12">

		<form novalidate>
			<formly-form model="curso" fields="formFields">
			</formly-form>
		</form>

		<hr/>
		<div data-ng-show="((authentication.user) && (authentication.user._id == curso.user._id))">
			<a class="btn btn-success" href="/#!/cursos/{{curso._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i> Edit
			</a>
			<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove()" item="curso">
				<i class="glyphicon glyphicon-remove-circle"></i> Delete
			</a>
			<a class="btn btn-primary" href="/#!/cursos">
				<i class="glyphicon glyphicon-list"></i> List Cursos
			</a>
		</div>

	</div>

</section>
